<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{ title }} - Flask app</title>
  {% else %}
  <title>Welcome to conference</title>
  {% endif %}
</head>

<body>
    {% if current_user %}
    <label>Hello, {{ current_user['name'] }}! Your role - {{ current_user['role'] }}</label>
    {% endif %}
  {% block content %}{% endblock %}
</body>
</html>