{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Presentations</h1>


        <form action="/presentations" method="POST" id="presentation-form">
            <label for="newStuff">New presentation:</label>
            <p>
                <label>Name</label>
                <input type="text" name="name" id="newName">
            </p>
            <p>
                <label>Text</label>
                <input type="text" name="text" id="newText">
            </p>
            <p>
                <button type="submit">Save</button>
            </p>
            <div id="presentations-in-schedule"></div>
        </form>
    </div>
    <script>
        let name = document.getElementById('newName');
        let text = document.getElementById('newText');

        let presentation_id = parseInt({{ presentation_id }});
        fill_in_data_fields(presentation_id);
        fill_schedule(presentation_id);

        document.getElementById('presentation-form').addEventListener('submit', check);

        function check(e) {
            e.preventDefault();
            if (name.value !== 'New presentation') {
                const request = new XMLHttpRequest();
                request.open('PUT', `/conference/api/presentations/${presentation_id}`, true);
                request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                request.send(JSON.stringify({
                    name: name.value,
                    text: text.value
                }));
                request.onreadystatechange = function () {
                    if (request.readyState === 4) {
                        if (request.status === 200) {
                            window.location.href = '/presentations';
                        } else {
                            alert(JSON.parse(request.response).message);
                        }
                    }
                }
            } else {
                alert('Name of presentation must change.');
            }

        }

        function fill_in_data_fields(presentation_id) {
            const request = new XMLHttpRequest()
            request.open('GET', `/conference/api/presentations/${presentation_id}`, false);
            request.send();

            name.value = JSON.parse(request.response).name;
            text.value = JSON.parse(request.response).text;
        }

        function fill_schedule(presentation_id) {
            const request = new XMLHttpRequest();
            request.open('GET', `/conference/api/schedule/presentations/${presentation_id}`, false);
            request.send();
            let div_schedule = document.getElementById('presentations-in-schedule');
            let input_new_record_in_schedule = document.createElement('input');
            input_new_record_in_schedule.type = 'button';
            input_new_record_in_schedule.value = 'Add presentation to schedule';
            input_new_record_in_schedule.onclick = function () {
                const request = new XMLHttpRequest();
                request.open('POST', '/conference/api/schedule', true);
                request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                request.send(JSON.stringify({
                    room_id: 1,
                    presentation_id: presentation_id,
                    date_start: '2000-01-01'
                }));
                request.onreadystatechange = function () {
                    if (request.readyState === 4) {
                        if (request.status === 201) {
                            window.location.href = `/schedule/edit/${JSON.parse(request.response).id}`;
                        } else alert(JSON.parse(request.response).message);
                    }
                }

            }

            if (request.status === 404) {
                let label = document.createElement('label');
                label.textContent = JSON.parse(request.response).message;
                div_schedule.appendChild(label);
            } else {
                let table_schedule = document.createElement('table');

                let table_head = document.createElement('thead');

                let th_id = document.createElement('th');
                th_id.textContent = 'id';
                let th_date_start = document.createElement('th');
                th_date_start.textContent = 'date_start';
                let th_room_id = document.createElement('th');
                th_room_id.textContent = 'room_id';

                table_head.appendChild(th_id);
                table_head.appendChild(th_room_id);
                table_head.appendChild(th_date_start);

                table_schedule.appendChild(table_head);

                let presentations_in_schedule = JSON.parse(request.responseText)["json_list"];
                for (let i in presentations_in_schedule) {
                    let row = document.createElement('tr');

                    let column_id = document.createElement('td');
                    column_id.innerText = presentations_in_schedule[i]['id'];
                    row.appendChild(column_id);

                    let column_date_start = document.createElement('td');
                    column_date_start.innerText = presentations_in_schedule[i]['date_start'];
                    row.appendChild(column_date_start);

                    let column_room_id = document.createElement('td');
                    column_room_id.innerText = presentations_in_schedule[i]['room_id'];
                    row.appendChild(column_room_id);

                    let edit = edit_schedule(presentations_in_schedule[i]['id']);
                    let column_edit = document.createElement('td');
                    let input_edit = document.createElement('input');
                    input_edit.value = 'Edit';
                    input_edit.type = 'button';
                    input_edit.onclick = function () {
                        edit()
                    }
                    column_edit.appendChild(input_edit);
                    row.appendChild(column_edit);

                    let column_delete = document.createElement('td');
                    let input_delete = document.createElement('input');
                    input_delete.value = 'Delete'
                    input_delete.type = 'button';
                    let del = delete_record_in_schedule(presentations_in_schedule[i]['id']);
                    input_delete.onclick = function () {
                        del()
                    }
                    column_delete.appendChild(input_delete);
                    row.appendChild(column_delete);

                    table_schedule.appendChild(row);
                }
                div_schedule.appendChild(table_schedule);
            }

            div_schedule.appendChild(input_new_record_in_schedule);
        }

        function edit_schedule(id) {
            return function () {
                window.location.href = `/schedule/edit/${id}`;
            }
        }

        function delete_record_in_schedule(id) {
            return function () {
                const request = new XMLHttpRequest();
                request.open('DELETE', `/conference/api/schedule/${id}`, false);
                request.send();
                if (request.status !== 200) {
                    alert(JSON.parse(request.response).message);
                } else {
                    alert('Record in schedule deleted success.');
                    fill_schedule();
                }
            }
        }
    </script>
{% endblock content %}