{% extends 'base.html' %}

<body>

{% block content %}
    {% if current_user %}
        <p>
            <a href="/schedule">Schedule</a>
        </p>
        <p>
            <a href="/presentations">Presentations</a>
        </p>
        {% if current_user['role'] | string() == 'admin' %}
            <p>
                <a href="/admin">For admin</a>
            </p>
        {% endif %}
        <p>
            <a href="/logout">Logout</a>
        </p>
    {% else %}
        <p>
            <a href="/login">Login</a>
        </p>
        <p>
            <a href="/register">Register</a>
        </p>
    {% endif %}

{% endblock %}

</body>
</html>