{% extends 'base.html' %}

{% block content %}
<div>
  <h1>Presentations</h1>
  {% if r_json|length < 1 %}
  <p>No presentations yet.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Name of presentation</th>
        <th>Text of presentation</th>
          <th>Presenter</th>
      </tr>
    </thead>
    <tbody id="presentations-table-tbody">    </tbody>
  </table>
  {% endif %}

  <form action="/presentations" method="POST"  id="presentation-form">
    <label for="newStuff">New presentation:</label>
    <input type="text" name="name" id="newName">
    <input type="text" name="text" id="newText">
    <button type="submit">Add</button>
  </form>
</div>
    <script>
        function create_table()
        {
            const id_tbody = "presentations-table-tbody";
        var request = new XMLHttpRequest();
        request.open('GET', '/conference/api/presentations', false);
        request.send();
        var presentations = JSON.parse(request.responseText)["json_list"];
        var new_tbody = document.createElement('tbody');

        for(var i in presentations)
        {
            var row = document.createElement('tr');
            var column_id = document.createElement('td');
            column_id.innerText = presentations[i]['id'];
            row.appendChild(column_id);

            var column_name = document.createElement('td');
            column_name.innerText = presentations[i]['name'];
            row.appendChild(column_name);

            var column_text = document.createElement('td');
            column_text.innerText = presentations[i]['text'];
            row.appendChild(column_text);

            var column_users = document.createElement('td');
            var str = "";
            for( var user in presentations[i]['users'])
            {
                str+=" "+presentations[i]['users'][user]['name'];
            }
            column_users.innerText = str;
            row.appendChild(column_users);

            new_tbody.appendChild(row);
        }
        var old_tbody = document.getElementById(id_tbody);
        old_tbody.parentElement.replaceChild(new_tbody, old_tbody);
        new_tbody.id = id_tbody;
    }

    create_table();

        document.getElementById('presentation-form').addEventListener('submit', check);
        function check(e)
        {
            e.preventDefault();
            var name = document.getElementById('newName').value;
            var text = document.getElementById('newText').value;

            var request = new XMLHttpRequest()
            request.open('POST', '/conference/api/presentations', true)
            request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            var json = JSON.stringify(
                {
                name: name,
                text: text
                });
            request.onreadystatechange = function (){
                if (request.readyState === 4){
                    if(request.status === 201)
                        create_table()
                    else {
                        alert(JSON.parse(request.response).message)
                    }
                }
            }
            request.send(json);
            create_table()
        }

    </script>
    <script>


    </script>
{% endblock content %}