{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Presentations</h1>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Name of presentation</th>
                <th>Text of presentation</th>
                <th>Presenter</th>
            </tr>
            </thead>
            <tbody id="presentations-table-tbody"></tbody>
        </table>
        <input type="button" value="New presentation" onclick="create_new_presentation()">
    </div>
    <script>
        function create_table() {
            const id_tbody = "presentations-table-tbody";
            const request = new XMLHttpRequest();
            request.open('GET', '/conference/api/presentations', false);
            request.send();
            let presentations = JSON.parse(request.responseText)["json_list"];
            let new_tbody = document.createElement('tbody');
            for (let i in presentations) {
                let row = document.createElement('tr');
                let column_id = document.createElement('td');
                column_id.innerText = presentations[i]['id'];
                row.appendChild(column_id);

                let column_name = document.createElement('td');
                column_name.innerText = presentations[i]['name'];
                row.appendChild(column_name);

                let column_text = document.createElement('td');
                column_text.innerText = presentations[i]['text'];
                row.appendChild(column_text);

                let column_users = document.createElement('td');
                let str = "";
                for (let user in presentations[i]['users']) {
                    str += " " + presentations[i]['users'][user]['name'];
                }
                column_users.innerText = str;
                row.appendChild(column_users);

                let column_delete = document.createElement('td');
                let input_delete = document.createElement('input');
                input_delete.value = 'Delete';
                let del = delete_presentation(presentations[i]['id']);
                input_delete.onclick = function () {
                    del()
                };
                input_delete.type = 'button';
                column_delete.appendChild(input_delete);
                row.appendChild(column_delete);

                let column_edit = document.createElement('td');
                let input_edit = document.createElement('input');
                input_edit.type = 'button';
                input_edit.value = 'Edit';
                let edit = edit_presentation(presentations[i]['id']);
                input_edit.onclick = function () {
                    edit()
                };
                column_edit.appendChild(input_edit);
                row.appendChild(column_edit);

                new_tbody.appendChild(row);
            }
            let old_tbody = document.getElementById(id_tbody);
            old_tbody.parentElement.replaceChild(new_tbody, old_tbody);
            new_tbody.id = id_tbody;
        }

        create_table();

        function create_new_presentation(){
            window.location.href = '/presentations/create'
        }


        function delete_presentation(id) {
            return function () {
                const request = new XMLHttpRequest();
                request.open('DELETE', `/conference/api/presentations/${id}`, false);
                request.send();
                if (request.status !== 200)
                    alert(JSON.parse(request.response).message);
                else {
                    alert('Presentation deleted success.');
                    create_table();
                }
            }
        }

        function edit_presentation(id) {
            return function () {
                window.location.href = `/presentations/edit/${id}`
            }
        }

    </script>
{% endblock content %}